<main>
    <app-headerone></app-headerone>
    <app-hero-slide-two></app-hero-slide-two>
    <app-hero></app-hero>
    <app-reccommended-course *ngIf="appUser?.appUserSno"></app-reccommended-course>
    <app-categories></app-categories>
 
    <app-countersectionthree></app-countersectionthree>
    <app-organizations></app-organizations>
    <app-coursetab></app-coursetab>
    <!-- <app-categories></app-categories>
    <app-featuresection></app-featuresection>
    <app-studentsection></app-studentsection>
    <app-testimonialslider></app-testimonialslider>
    <app-bannersection></app-bannersection> 
    <app-educationsection></app-educationsection>
    <app-brandslider></app-brandslider>-->
    <app-footerone></app-footerone>
    <app-poll-results></app-poll-results>
    <app-prefernces></app-prefernces>


</main>