<nav class="navbar navbar-expand-sm px-4 py-0 sticky-top" style="background: #427ef5 !important;height: 85px;">
  <div class="header d-flex justify-content-between">
    <button onclick="window.history.back()" class="arrow"><i class="fas fa-arrow-left"></i></button>
    <div>
      <h1 class="fw-bold">
        <h3><span class="letter-style">Survey </span></h3>
      </h1>
    </div>
  </div>
</nav>

<div class="container-fluid w-75 py-4">

  <div *ngIf="!surveydetails" class="centered text-center">
    <i class="bi bi-search" style="font-size: 5.375rem"></i>
    <h4 class="mt-3">No data found</h4>
  </div>

  <div class="card p-4 mb-4" *ngIf="surveydetails">
    <div class="row">
      <div class="d-flex justify-content-between">
        <h3>{{surveydetails?.title}}</h3>
        <div>
          <span class="badge bg-primary fw-bold">
            Total - {{ surveydetails?.questions.length || 0 }}Q
          </span>
        </div>
      </div>
    </div>
    <p>{{surveydetails?.description}}</p>
  </div>

  <div *ngIf="surveydetails?.questions">
    <div *ngFor="let survey of surveydetails?.questions;let i=index">
      <div class="card p-4 mb-2">
        <h4>{{i+1}}.&nbsp;&nbsp;{{survey?.questionText}}</h4>

        <!-- multiple-choice -->
        <div *ngIf="survey?.questionType == 'multiple-choice'" class="radio-container">
          <div *ngFor="let option of survey?.options; let j = index;" class="radio-item">
            <input type="radio" [id]="option?.optionText" [(ngModel)]="survey.selectedOptionSno" name="option"
              [value]="option.surveyOptionSno">
            <label [for]="option.optionText">{{ option?.optionText }}</label>
          </div>
        </div>

        <!-- rating-scale -->
        <div *ngIf="survey?.questionType == 'rating-scale'" class="radio-container">
          <div class="star-rating">
            <ng-container
              *ngFor="let star of stars(survey?.ratingScale?.ratingScaleMax,survey?.ratingScale?.ratingScaleMin);let i=index;">
              <span class="star" [class.filled]="star <= survey?.rating"
                (click)="rate(star);survey.rating = star">&#9733;</span>
            </ng-container>
          </div>
        </div>

        <!-- DropDown -->
        <div *ngIf="survey?.questionType === 'dropdown'" class="mb-3">
          <label for="survey-select{{i}}" class="form-label">Select an Option</label>
          <div class="row">
            <div class="col-md-6">
              <select id="survey-select{{i}}" class="form-select" [(ngModel)]="survey.selectedOptionSno">
                <option *ngFor="let option of survey.dropdownOptions" [value]="option.dropdownOptionSno">
                  {{ option?.optionText }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- opnEnded -->
        <div *ngIf="survey?.questionType === 'open-ended'" class="mb-3">
          <div class="row">
            <div class="col-md-6">
              <textarea id="survey-input{{i}}" class="form-control mt-2" [(ngModel)]="survey.openEndAnswer" rows="5"
                placeholder="Type your answer here"></textarea>
            </div>
          </div>
        </div>

        <!-- demographic -->
        <div *ngIf="survey?.questionType === 'demographic'" class="mb-3">
          <div class="row">
            <div class="col-md-6">
              <input id="survey-input{{i}}" class="form-control mt-2" [(ngModel)]="survey.demographicAnswer"
                placeholder="Type your answer here">
            </div>
          </div>
        </div>

        <!-- ranking -->
        <div *ngIf="survey?.questionType === 'ranking'" class="mb-3 mt-3">
          <div class="row mb-2" *ngFor="let data of survey.rankingOptions; let j = index;">
            <div class="col-md-2">
              <div>{{ data?.optionText }}</div>
            </div>
            <div class="col-md-3">
              <div class="">
                <select id="survey-select{{j}}" class="form-select" [(ngModel)]="data.selectedRank"
                  (change)="onRankChange(data)">
                  <option [ngValue]="" disabled selected>select one</option>
                  <option *ngFor="let option of getAvailableRanks(i,j)" [value]="option">
                    {{ option }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Liker Scale -->
        <div *ngIf="survey?.questionType === 'likert-scale'" class="mb-3">
          <div class="container mt-4">
            <div class="row align-items-center">
              <div class="col-12">
                <h4>{{ survey?.selectedoption }}</h4>
                <input type="range" class="form-range" [min]="findMinMaxValue(survey.likertOptions, 'Min')"
                  [max]="findMinMaxValue(survey.likertOptions, 'Max')" [step]="1" [(ngModel)]="survey.selectedOptionSno"
                  id="likertRange{{i}}" (input)="onLikertChange($event, i)">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col text-center" *ngFor="let option of survey.likertOptions">
                <span>{{ option?.value }}</span>
              </div>
            </div>
          </div>
        </div>


        <!-- image-choice -->
        <div *ngIf="survey.questionType === 'image-choice'" class="mb-3">
          <div class="row mt-3">
            <div *ngFor="let imageChoice of survey.imageChoiceUrls; let j = index" class="col-md-3 mb-3">
              <div class="card image-choice-card"
                (click)="selectOption(imageChoice.imageChoiceSno); survey.selectedOptionSno = imageChoice.imageChoiceSno"
                [class.selected]="survey?.selectedOptionSno == imageChoice?.imageChoiceSno">
                <img [src]="imageChoice.imageData[0].mediaUrl" class="card-img-top image-choice-img"
                  alt="{{ imageChoice.description }}">
                <div class="card-body">
                  <p class="card-text">{{ imageChoice.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- benchmarkable -->
        <div *ngIf="survey?.questionType === 'benchmarkable'" class="mb-3">
          <div class="row">
            <div class="col-md-6">
              <input id="survey-benchmar{{i}}" class="form-control mt-2" [(ngModel)]="survey.benchmarkAnswer"
                placeholder="Type your answer here">
            </div>
          </div>
        </div>

        <!-- fileUpload -->
        <div *ngIf="survey.questionType === 'file-upload'" class="mb-3">
          <div class="container mt-4">
            <div class="row">
              <div class="col-12">
                <p>Please upload your file. Accepted formats are .jpg, .png, .pdf, etc. Maximum file size: 5MB.</p>
                <input type="file" class="form-control" (change)="onFileChange($event,i)">
                <div *ngIf="survey?.isUpload" class="mt-4">
                  <!-- <p>Selected file: {{ selectedFile.name }}</p> -->
                  <button class="btn btn-primary me-2" (click)="uploadFile(i)"><span
                      class="spinner-border spinner-border-sm" *ngIf="isLoad">
                    </span>&nbsp;&nbsp;Upload</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slider -->

        <!-- survey.component.html -->
        <div *ngIf="survey.questionType === 'slider'" class="mb-3">
          <p>Upload your file (Min - {{ survey.slider.sliderMin}} To Max - {{ survey.slider.sliderMax}}) - <span *ngIf="survey?.slides">{{ survey?.slides.length }}/ {{survey.slider.sliderMax}}</span> </p>
          <div class="carousel-container mb-4" *ngIf="survey?.slides">
            <carousel>
              <slide *ngFor="let slide of survey?.slides">
                <div class="image-container">
                  <img *ngIf="slide?.type === 'image'" [src]="slide?.mediaUrl" alt="Image" >
                  <video style="width: 100%;" *ngIf="slide?.type === 'video'" [src]="slide?.mediaUrl" controls></video>
                </div>
              </slide>
            </carousel>
          </div>
          <div class="text-center">
            <input type="file" (change)="onFileSelected($event, survey)" accept="image/*, video/*">
          </div>
        </div>


      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col text-center">
          <form (ngSubmit)="save()">
            <!-- Form content -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>