<app-headerone></app-headerone>

<div class=" w-100 h-100 bg-white">
    <div class="container p-5">
        <div class="w-100 text-center">
            <div class="text-start">
                <h4 class="mt-3">Privacy Policy</h4>
                <p><strong>Information Collection:</strong> We collect limited personal information when you register
                    for an
                    account and make purchases on our platform.</p>
                <p><strong>Data Usage:</strong> Your information is used to provide our services, communicate with you,
                    and improve our offerings. We do not sell or share your data with third parties for
                    marketing purposes.
                </p>
                <p>
                    <strong>Data Security:</strong> We value your trust in providing us with your Personal Information,
                    thus
                    we are striving to use commercially acceptable means of protecting it. But remember
                    that no method of transmission over the internet, or method of electronic storage is
                    100% secure and reliable, and we cannot guarantee its absolute security.
                </p>
                <p>
                    <strong>Your Choices:</strong> You can update your account information and communication preferences
                    at any time.
                </p>
                <p>
                    <strong>Changes to Policy:</strong> We may update our privacy policy, and any changes will be posted
                    on
                    this page.
                </p>
            </div>
        </div>
    </div>
</div>

<app-footerone></app-footerone>