<section class="py-3">
    <app-header></app-header>
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Sub Categories</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <h5 class="card-header text-start">Add Sub Category</h5>
                        <hr class="my-0" />
                        <div class="card-body">
                            <form id="sub-categories" method="POST" onsubmit="return false"
                                [formGroup]="subCategoryForm">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="cat" class="form-label">Select Category
                                            <span class="text-danger">*</span>
                                        </label>
                                        <select id="cat" class="select2 form-select" formControlName="categorySno"
                                            [class.is-invalid]="subCategoryForm.get('categorySno').invalid && subCategoryForm.get('categorySno').touched">
                                            <option *ngFor="let category of categoryList;let i =index;"
                                                [value]="category?.categorySno">
                                                {{category.categoryName}}</option>
                                        </select>
                                        <div
                                            *ngIf="subCategoryForm.get('categorySno').invalid && subCategoryForm.get('categorySno').touched || subCategoryForm.get('categorySno').dirty">
                                            <small class="text-danger"
                                                *ngIf="subCategoryForm.get('categorySno').errors?.required ">Category
                                                Is Required</small>
                                        </div>
                                    </div>

                                    <div class=" mb-3 col-md-6">
                                        <label for="subCategoryName" class="form-label">Sub Category Name <span
                                                class="text-danger">*</span>
                                        </label>
                                        <input class="form-control" type="text" id="subCategoryName"
                                            [class.is-invalid]="(subCategoryForm.get('subCategoryName').invalid && subCategoryForm.get('subCategoryName').touched) || (subCategoryForm.get('subCategoryName').invalid && subCategoryForm.get('subCategoryName').dirty)"
                                            formControlName="subCategoryName" required />
                                        <div
                                            *ngIf="subCategoryForm.get('subCategoryName').invalid && subCategoryForm.get('subCategoryName').touched || (subCategoryForm.get('subCategoryName')?.dirty)">
                                            <small class="text-danger"
                                                *ngIf="subCategoryForm.get('subCategoryName').errors?.required ">Sub
                                                Category Name
                                                is
                                                Required</small>
                                            <small class="text-danger"
                                                *ngIf="subCategoryForm.get('subCategoryName').errors?.pattern">Sub
                                                Category Name
                                                should be
                                                character
                                            </small>
                                        </div>
                                    </div>

                                    <div class=" mb-3 col-md-6">
                                        <label for="description" class="form-label">Description <span
                                                class="text-danger">*</span>
                                        </label>
                                        <input class="form-control" [class.is-invalid]="(subCategoryForm.get('description').invalid && subCategoryForm.get('description').touched) || (subCategoryForm.get('description').invalid && subCategoryForm.get('description').dirty)"
                                         type="text" id="description"  formControlName="description" required />
                                         <div
                                            *ngIf="subCategoryForm.get('description').invalid && subCategoryForm.get('description').touched || (subCategoryForm.get('description')?.dirty)">
                                            <small class="text-danger"
                                                *ngIf="subCategoryForm.get('description').errors?.required "> Description
                                                is
                                                Required</small>
                                         </div>
                                    </div>

                                    <div class=" mb-3 col-md-6">
                                        <label for="seqNo" class="form-label">Sequence No <span
                                                class="text-danger">*</span>
                                        </label>
                                        <input class="form-control" [class.is-invalid]="(subCategoryForm.get('seqNo').invalid && subCategoryForm.get('seqNo').touched) || (subCategoryForm.get('seqNo').invalid && subCategoryForm.get('seqNo').dirty)"
                                         type="number" id="seqNo"  formControlName="seqNo" required />

                                         <div
                                            *ngIf="subCategoryForm.get('seqNo').invalid && subCategoryForm.get('seqNo').touched || (subCategoryForm.get('seqNo')?.dirty)">
                                            <small class="text-danger"
                                                *ngIf="subCategoryForm.get('seqNo').errors?.required "> Sequence is
                                                Required</small>
                                         </div>
                                    </div>

                                    <div class=" mb-3 col-md-6">
                                        <label for="status" class="form-label">Status
                                            <span class="text-danger">*</span>
                                        </label>
                                        <select id="status" class="col-3 select2 form-select" formControlName="status">
                                            <option value="true">Active</option>
                                            <option value="false">InActive</option>
                                        </select>
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2" (click)="save()"
                                            *ngIf="subCategoryForm.value?.subCategorySno == null"
                                            [disabled]="subCategoryForm.invalid || isLoad">
                                            <span class="spinner-border spinner-border-sm" *ngIf="isLoad"></span>
                                            &nbsp;&nbsp;Save
                                        </button>
                                        <button type="submit" class="btn btn-primary me-2" (click)="update()"
                                            [disabled]="subCategoryForm.invalid || isLoad"
                                            *ngIf="subCategoryForm.value?.subCategorySno != null">
                                            <span class="spinner-border spinner-border-sm" *ngIf="isLoad">
                                            </span>&nbsp;&nbsp;Update
                                        </button>
                                        <button class="btn border" style="box-shadow: none;" (click)="clear()" [disabled]="isLoad">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between pb-0">
                            <h5>Sub Category Details</h5>
                            <!-- <div class="d-flex" *ngIf="subCategoryList.length > 0">
                                    <p class="text-secondary me-5" *ngIf="subCategoryList.length != 1 || subCategoryList.length > 1">Total Sub-Categories: <span class="text-dark">{{subCategoryList.length}}</span></p> 
                                    <p class="text-secondary me-5" *ngIf="subCategoryList.length == 1">Total Sub-Category: <span class="text-dark">{{subCategoryList.length}}</span></p>
                                    <p class="text-secondary" *ngIf="subCategoryList.length != 1 || subCategoryList.length > 1">Available Sub-Categories: <span class="text-dark">{{subCategoryActiveCount}}</span></p>
                                    <p class="text-secondary" *ngIf="subCategoryList.length == 1">Available Sub-Category: <span class="text-dark">{{subCategoryActiveCount}}</span></p>
                            </div> -->
                        </div>
                        <hr class="my-0" />
                        <section class="container-xxl flex-grow-1">
                            <div *ngIf="isShowLoad" style="text-align: center">
                                <div class="spinner-border spinner-border-lg"></div>
                            </div>
                            <div *ngIf="isNoRecord && subCategoryList.length == 0 && !isShowLoad"
                                style="text-align: center">
                                <img src="assets/img/norecord.png" width="200" height="200" />
                                <p class="fs-5">No Records found</p>
                            </div>
                        </section>
                        <div class=" tableDiv table-responsive" *ngIf="subCategoryList.length!=0">
                            <table class="table table-borderless  table-hover table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-left">Category Name</th>
                                        <th scope="col" class="text-left">Sub Category Name</th>
                                        <th scope="col" class="text-left">Status</th>
                                        <th scope="col" class="text-left">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let subCategory of subCategoryList;let i = index;">
                                        <th scope="row">{{i+1}}</th>
                                        <td class="text-left">
                                            {{subCategory?.categoryName}}</td>
                                        <td class="text-left">
                                            {{subCategory?.subCategoryName}}
                                        </td>
                                        <td>
                                            <span class="text-primary" *ngIf="subCategory?.status">Active</span>
                                            <span class="text-danger" *ngIf="!subCategory?.status">InActive</span>
                                        </td>
                                        <td style="padding:5px;">
                                            <div class="btn-toolbar" role="toolbar"
                                                aria-label="Toolbar with button groups">
                                            
                                                <div class="btn-group mr-2 btn-group-sm text-center ms-4" role="group"
                                                    aria-label="First group">
                                                    <button type="button" class="btn btn-light " (click)="edit(i)">
                                                        <span class="menu-icon tf-icons iconify text-secondary"
                                                            data-icon="bx:edit"></span>
                                                    </button>
                                                </div>
                                               
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>