<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="3000">
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"
         aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
         aria-label="Slide 2"></button>
   </div>
   <div class="carousel-inner hero-slider-inner">
      <div class="carousel-item active">
         <section class="slider-area hero-height relative overflow-hidden" style="height: 80vh;">
            <img class="shape-3 hidden xxl:block" src="assets/img/shape/shape-03.png" alt="image not found">
            <div class="container ">
              
               <div class="grid grid-cols-12">
                  <div class="col-span-12 md:col-span-6">
                     <div class="slide-one-bottom">
                        <h5>Explore, <span style="color:#2467ec">Learn,</span> and Conquer</h5>
                        <h2>Unlock Your Potential with Our Revolutionary Learning Experience Platform (LXP) </h2>
                        <p>Welcome to the gateway of endless learning possibilities! Here at our Learning Experience Platform (LXP) , we invite you to embark on a journey of discovery, growth, and empowerment. Our platform is not just a tool; it's a dynamic ecosystem designed to revolutionize your learning experience. With personalized pathways, curated content, and interactive features, we empower you to chart your own educational voyage. Whether you're a seasoned professional seeking to enhance your skills or a curious learner eager to explore new horizons, our LXP is your key to unlocking a world of knowledge, innovation, and transformation. Get ready to unleash your potential and embrace the future of learning with us!</p>
                        <!-- <h2>Discover <span class="down-mark-line">10+</span> Courses
                           from top Instructors
                           Around the Startup Arena</h2> -->
                        <!-- <p>Take your learning organization to the next level. to the next level. Who'll
                           share their knowledge to people around the world.</p> -->
                        <div class="hero-btn">
                           <a class="edu-btn" [routerLink]="['/course']">Enroll in Courses Now</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-span-12 md:col-span-6">
                     <div class="hero-right relative">
                        <img data-depth="0.2" class="shape shape-1" src="assets/img/shape/shape-01.png" alt="shape">
                        <img data-depth="0.2" class="shape-2" src="assets/img/shape/shape-02.png" alt="shape">
                        <img class="shape-6" src="assets/img/shape/slider-shape-6.png" alt="shape">
                        <div class="shape-4">
                           <img src="assets/img/shape/shape-04.png" alt="shape">
                           <h5 class="hero-shape-text">Top Rated
                              Instructors</h5>
                        </div>
                        <div class="hero-thumb-02 hidden lg:block text-center" style="top: 3px;left: 10px;">
                           <img src="assets/img/slider/slide-img1.png" alt="shape" >
                        </div>
                        <div class="shape-5">
                           <div class="course-card">
                              <img src="assets/img/shape/slider-card-1.png" alt="image not found">
                              <img src="assets/img/shape/slider-card-2.png" alt="image not found">
                              <img src="assets/img/shape/slider-card-3.png" alt="image not found">
                              <img src="assets/img/shape/slider-card-4.png" alt="image not found">
                              <span><i class="far fa-plus"></i></span>
                           </div>
                           <h5>More than <span>500 users</span>
                              Availed a <span>50%</span> Instant Discount.</h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <div class="carousel-item">
         <div class=" hero-height flex items-center relative overflow-hidden">
            <img class="hero-shape-5 hidden xxl:block" src="assets/img/shape/shape-02.png" alt="shape">
            <img class="hero-shape-1" src="assets/img/shape/shape-03.png" alt="shape">
            <img class="hero-shape-6 hidden xxl:block" src="assets/img/shape/shape-01.png" alt="shape">
            <img class="hero-shape-7" src="assets/img/shape/shape-10.png" alt="shape">
            <div class="hero-shap-5 hidden xxl:block">
               <div class="hero-card">
                  <img src="assets/img/shape/slider-card-1.png" alt="image not found">
                  <img src="assets/img/shape/slider-card-2.png" alt="image not found">
                  <img src="assets/img/shape/slider-card-3.png" alt="image not found">
                  <img src="assets/img/shape/slider-card-4.png" alt="image not found">
                  <span><i class="far fa-plus"></i></span>
               </div>
               <h5>More than <span>500 users</span>
                  Availed a <span>50%</span> Instant Discount.</h5>
            </div>
            <div class="container">
               <div class="hero-2-content-wrpapper relative">
                  <div class="hero-shape-3 hidden xl:block">
                     <img src="assets/img/shape/shape-04.png" alt="image not found">
                     <h5 class="slider-shap-text">Top Rated
                        Instructors</h5>
                  </div>
                  <div class="hero-shape-2 hidden xl:block">
                     <img src="assets/img/shape/shape-09.png" alt="shape">
                  </div>
                  <div class="hero-shape-4 hidden lg:block">
                     <img src="assets/img/shape/shape-8.png" alt="shape">
                  </div>
                  <div class="hero-thumb-01 hidden xl:block">
                     <img src="assets/img/slider/hero-01.png" alt="shape">
                  </div>
                  <div class="hero-thumb-02 hidden lg:block">
                     <img src="assets/img/slider/hero-02.png" alt="shape">
                  </div>
                  <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] justify-center">
                     <div class="md:col-span-1 lg:col-span-2 xl:col-span-2"></div>
                     <div class="col-span-12 md:col-span-10 lg:col-span-8 xl:col-span-8">
                        <div class="slider-content-wrapper slide-two-bottom">
                           <div class="hero-tittle-info text-center mb-[45px]">
                              <h2>Build Your Own Learning<br>
                                 Platform </h2>
                                 <p>Welcome to our cutting-edge Learning Experience Platform (LXP) , where tutors like you have the power to shape the future of education. With our platform, you're not just a tutor; you're a trailblazer, guiding learners on their journey to success. Here, we provide you with the tools and resources to build your own personalized learning platform, tailored to your expertise and teaching style. Whether you're a seasoned educator or a passionate specialist, our platform empowers you to create, customize, and deliver courses that inspire, engage, and transform. Join us in revolutionizing education one course at a time. Together, let's unlock the potential of every learner and shape a brighter tomorrow.</p>
                           </div>
                           <!-- <div class="slider-search ">
                              <form action="#">
                                 <div class="slider-search-icon relative">
                                    <input type="text" placeholder="Search courses...">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                 </div>
                              </form>
                           </div> -->
                           <div class="slider-course-content text-center">
                              <ul>
                                 <li><i class="fas fa-check-circle"></i><span>Free for physically challenged</span></li>
                                 <li><i class="fas fa-check-circle"></i><span>Course certificate</span></li>
                                 <li><i class="fas fa-check-circle"></i><span>Easy to enroll courses</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </button>
</div>
<!-- 

<div class="swiper-div">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         
      </div>

      <div class="swiper-slide">
         
      </div>
   </div>
</div> -->