<app-headerone></app-headerone>

<div class=" w-100 h-100 bg-white">
    <div class="container p-5">
        <div class="w-100 text-center">
            <h4>Learning Experience Platform Terms & Condition </h4>
            <div class="text-start mt-5">
                <p>
                    <strong>Acceptance of Terms:</strong> By accessing or using the Learning & Development
                    Portal,
                    you agree to abide by these Terms and Conditions.
                </p>
                <p>
                    <strong>Use of Content:</strong> All content provided on the Portal, including but not limited to
                    text, graphics,
                    images, and videos, is for informational purposes only. The content is the property and is protected by copyright laws.
                </p>
                <p>
                    <strong>User Accounts:</strong> To access certain features of the Portal, you may need to create a
                    user
                    account. You are responsible for maintaining the confidentiality of your account credentials
                    and for all activities that occur under your account.
                </p>
                <p>
                    <strong>User Conduct:</strong> You agree to use the Portal only for lawful purposes and in a manner
                    that does
                    not infringe upon the rights of others or restrict or inhibit their use and enjoyment of the
                    Portal. You may not use the Portal to transmit any harmful or unlawful material.
                </p>
                <p>
                    <strong>Third-Party Links:</strong> The Portal may contain links to third-party websites or
                    resources. 
                    is not responsible for the content, accuracy, or availability of these external sites and
                    resources. You acknowledge and agree that shall not be liable for any damages or
                    loss arising from your use of any third-party website or resource.
                </p>
                <p>
                    <strong>Limitation of Liability:</strong> In no event shall be liable for any indirect,
                    incidental, special,
                    or consequential damages arising out of or in any way connected with your use of the Portal,
                    whether based on contract, tort, strict liability, or any other legal theory.
                </p>
                <p>
                    <strong>Changes to Terms:</strong> update these Terms and
                    Conditions at any time without prior notice. Your continued use of the Portal after any such
                    changes constitutes your acceptance of the revised Terms and Conditions.
                </p>
                <p>
                    <strong>Governing Law:</strong> These Terms and Conditions shall be governed by and construed in
                    accordance with the Indian Laws, without regard to its conflict of law provisions.
                </p>
                
                
            </div>
        </div>
    </div>
</div>

<app-footerone></app-footerone>
