
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light" >
        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
        <button #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" >
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <div class="input-group">
              <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" id="currentPassword" formControlName="currentPassword">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('currentPassword')">
                <i class="bi" [ngClass]="showCurrentPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched" class="text-danger">
              Current password is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <div class="input-group">
              <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" id="newPassword" formControlName="newPassword">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('newPassword')">
                <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-danger">
              New password is required (minimum 6 characters).
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <div class="input-group">
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword" formControlName="confirmPassword">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('confirmPassword')">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
              Passwords do not match.
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button  class="btn btn-primary" [disabled]="changePasswordForm.invalid" (click)="changePassword()">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!-- <span #changepasswordmodal id="changepasswordmodal" data-bs-target="#changePasswordModal" class="d-none" data-bs-toggle="modal"></span> -->