
<app-headerone></app-headerone>

<div class=" w-100 h-100 bg-white">
    <div class="container p-5">
        <div class="w-100 text-center">
            <div class="text-start mt-5">
                <h3>Refund & Cancellation Policy</h3>
                <h4>Refund Policy:</h4>
                <ol>
                    <li>
                        Once a course is purchased, refunds are only permitted under the
                        following circumstances:
                        <ul class="ps-4">
                            <li>If misplaced the course order and notifies us within 24 hours
                                of purchase.
                            </li>
                            <li>If requests a refund within 24 hours of purchase and has not
                                consumed any content from the course.</li>
                        </ul>
                    </li>
                    <li>
                        Refunds will not be provided for courses that have been accessed, consumed, or
                        downloaded.
                    </li>
                    <li>
                        All refund requests must be made by contacting our support team at
                        <a href="https://accoladeknowledge.com" target="_blank" style="text-decoration: underline;" class="text-primary">www.accoladeknowledge.com</a> with the order details.
                    </li>
                </ol>
                <h4 class="mt-3">Cancellation Policy:</h4>
                <ol>
                    <li>Option to cancel their course order within 24 hours of purchase.</li>
                    <li>Cancellation requests must be submitted by contacting our support team at
                        <a href="https://accoladeknowledge.com" target="_blank" style="text-decoration: underline;" class="text-primary">www.accoladeknowledge.com</a>
                    </li>
                    <li>Cancellations are only valid if not consumed any content, or
                        downloaded from the course.</li>
                    <li>If a cancellation request is received after 24 hours or after content consumption, the
                        order will not be eligible for cancellation.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<app-footerone></app-footerone>