.disabled {
    pointer-events: none;
    opacity: 0.5;
}


@media (min-width:200px) and (max-width:768px) {
    .signup-thumb {
        display: none !important;
    }

    .signin-page-area {
        padding-top: 10px;
    }

    .signup-text h3 {
        margin-bottom: 0px !important;
    }
}

asl-google-signin-button {
    display: flex;
    justify-content: center;
  }