<app-headerone></app-headerone>

<app-breadcrumb breadcrumbTitle="Sign In" breadcrumbSubTitle="Sign In"></app-breadcrumb>

<!-- sigin-area sart-->
<div class="pt-[120px] pb-[120px] signin-page-area">
    <div class="signin-page-area-wrapper">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="lg:col-span-1"></div>
                <div class="col-span-12 lg:col-span-10">
                    <form action="#">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                            <div class="col-span-12 md:col-span-5">
                                <div class="signup-box text-center">
                                    <div class="signup-text">
                                        <h3>Sign in</h3>
                                    </div>
                                    <div class="signup-thumb">
                                        <img src="assets/img/sing-up/sign-up.png" alt="image not found">
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-7">
                                <div class="signup-form-wrapper" [formGroup]="loginForm">
                                    <p><b>Welcome back!</b> Let's dive into the world of learning.
                                        Enter your credentials to continue your journey.
                                        Unlock limitless knowledge with just a few clicks.</p>
                                    <div class="signup-wrapper">
                                        <input
                                            [class]="loginForm.get('userId')?.touched && loginForm.get('userId')?.invalid ? 'mb-2' : 'mb-4'"
                                            type="text" formControlName="userId" placeholder="Email or Mobile Number" 
                                            #userIdInput (keyup.enter)="moveToPassword()">
                                        <div class="mb-2"
                                            *ngIf="loginForm.get('userId')?.touched && loginForm.get('userId')?.invalid && !loginForm?.get('userId')?.hasError('invalidEmailOrMobile')">
                                            <span class="text-danger">Email or Mobile Number is required</span>
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="loginForm?.get('userId')?.hasError('invalidEmailOrMobile')">
                                            Please Enter a valid email address or phone number
                                        </span>
                                    </div>
                                    <app-app-password-toggle formControlName="password" #passwordInput (enterPressed)="loginForm.valid ? login() : null"></app-app-password-toggle>
                                    <div class="signup-action">
                                        <div class="course-sidebar-list">
                                            <input class="signup-checkbo" type="checkbox" id="SignIn">
                                            <label class="sign-check" for="SignIn"><span>Remember me</span></label>
                                        </div>
                                    </div>
                                    <div class="sing-buttom mb-5" role="button"
                                        [ngClass]="loginForm.invalid? 'disabled' : ''" (click)="login()">
                                        <button type="submit" class="sing-btn">Sign in
                                            now</button>
                                    </div>
                                    <div class="registered wrapper">
                                        <div class="not-register">
                                            <span>Not registered?</span><span><a [routerLink]="['/signup']">Sign
                                                    up</a></span>
                                        </div>
                                        <div class="forget-password">
                                            <a [routerLink]="['/forgot-password']">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class="sign-social text-center">
                                        <span>Or Sign- in with</span>
                                    </div>
                                    <div class="sign-social-icon" *ngIf="isShow">
                                        <div>
                                            <asl-google-signin-button [width]=400 type='standard'
                                                size='large'></asl-google-signin-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="lg:col-span-1"></div>
            </div>
        </div>
    </div>
</div>
<!-- sigin-area end-->

<app-footerone></app-footerone>