// singup style
@import '../../../../../custom-palettes.scss';


.form-check-input:checked {
    background-color: black;
    border-color: black;
}



::ng-deep .mat-step-icon-selected {
    background-color: #2467ec;
}

::ng-deep .mat-step-icon-state-edit {
    background-color: #2467ec;
}


.mat-step-icon-selected {
    background-color: #2467ec !important;
}

.mat-step-icon-state-edit {
    background-color: #2467ec !important;
}

.header-search input {
    border-width: 3px !important;
}

.header-search {
    background: white !important;
}

@media (max-width: 575px) {
    .header-logo img {
        max-width: 130px;
    }

}

@media (min-width:768px) {
    .signup-btn {
        display: none;
    }


}

@media (min-width:200px) and (max-width:768px) {
    .signin-btn {
        margin-right: 15px !important;
    }

    .mat-horizontal-content-container {
        padding: 0px !important;
    }

    .step-mob-device {
        display: none;
    }

    .user-btn-inner::before {
        display: none !important;
    }

}