<app-headerone></app-headerone>

<app-breadcrumb breadcrumbTitle="Sign Up" breadcrumbSubTitle="Sign Up"></app-breadcrumb>

<div class="pt-[120px] pb-[120px] signup-page-area">
    <div class="signup-page-area-wrapper">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="lg:col-span-1"></div>
                <div class="col-span-12 lg:col-span-10">
                    <form action="#">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                            <div class="col-span-12 md:col-span-5">
                                <div class="signup-box text-center">
                                    <div class="signup-text">
                                        <h3>Sign up</h3>
                                    </div>
                                    <div class="signup-message">
                                        <img src="assets/img/sing-up/sign-up-message.png" alt="image not found">
                                    </div>
                                    <div class="signup-thumb">
                                        <img src="assets/img/sing-up/sign-up.png" alt="image not found">
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-7">
                                <div *ngIf="!otp_visible" class="signup-form-wrapper" [formGroup]="registerForm"
                                    style="padding-top: 25px;">
                                    
                                    <h4 class="mb-4">Excited to embark on your learning journey?<br>
                                        Let's get started! Fill in your details below.<br>
                                        Join our community and unlock endless possibilities.</h4>

                                    <P>All the below fields are mandatory</P>
                                    <div class="signup-input-wrapper">
                                        <div class="d-flex flex-column flex-fill">
                                            <input type="text"
                                                [class]="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid ? 'mb-2' : 'mb-4'"
                                                formControlName="firstName" placeholder="First Name">
                                            <div class="mb-2"
                                                *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid">
                                                <span class="text-danger">First Name is required</span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column flex-fill">
                                            <input type="text"
                                                [class]="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid ? 'mb-2' : 'mb-4'"
                                                formControlName="lastName" placeholder="Last Name">
                                            <div class="mb-2"
                                                *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid">
                                                <span class="text-danger">Last Name is required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="signup-wrapper">
                                        <input type="text"
                                            [class]="registerForm.get('userId')?.touched && registerForm.get('userId')?.invalid ? 'mb-2' : 'mb-4'"
                                            formControlName="userId" placeholder="Email or Mobile Number">
                                        <div class="mb-2"
                                            *ngIf="registerForm.get('userId')?.touched && registerForm.get('userId')?.invalid && !registerForm?.get('userId')?.hasError('invalidEmailOrMobile')">
                                            <span class="text-danger">Email or Mobile Number is required</span>
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="registerForm?.get('userId')?.hasError('invalidEmailOrMobile')">
                                            Please Enter a valid email address or phone number
                                        </span>
                                    </div>
                                    <div class="signup-wrapper">
                                        <select formControlName="roleCdValue" placeholder="Role">
                                            <option *ngFor="let item of roleList;">{{item}}</option>
                                        </select>
                                        <!-- <div class="d-flex justify-content-evenly">
                                            <div *ngFor="let role of roleList;">
                                                <img [src]="role?.image" class="w-[150px] p-[30px]" />
                                                <p class="text-center">{{role.role}}</p>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="signup-action">
                                        <div class="course-sidebar-list">
                                            <input class="signup-checkbo" formControlName="isPrivacy" type="checkbox"
                                                id="SignUP">
                                            <label class="sign-check" for="SignUP"><span>Accept the terms and
                                                    <a [routerLink]="['/privacy-policy']">Privacy
                                                        Policy</a></span></label>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        [disabled]="registerForm.invalid || !registerForm.value?.isPrivacy"
                                        [ngClass]="registerForm.invalid || !registerForm.value?.isPrivacy ? 'disabled' : ''"
                                        (click)="registerUser()" class="sing-btn sing-buttom mb-5 w-100">Register
                                        now</button>
                                    <div class="acount-login text-center">
                                        <span>Already have an account? <a [routerLink]="['/signin']">Sign In</a></span>
                                    </div>
                                    <!-- <div class="sign-social text-center">
                                        <span>Or Sign- in with</span>
                                    </div>
                                    <div class="sign-social-icon">
                                        <div class="sign-facebook">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9.034" height="18.531"
                                                viewBox="0 0 9.034 18.531">
                                                <path id="Path_2121121" data-name="Path 212"
                                                    d="M183.106,757.2v-1.622c0-.811.116-1.274,1.39-1.274h1.621v-3.127h-2.664c-3.243,0-4.285,1.506-4.285,4.169v1.969h-2.085v3.127h1.969v9.265h4.054v-9.265h2.664l.347-3.243Z"
                                                    transform="translate(-177.083 -751.176)" fill="#2467ec" />
                                            </svg>
                                            <a href="#">Facebook</a>
                                        </div>
                                        <div class="sign-gmail">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21.692" height="16.273"
                                                viewBox="0 0 21.692 16.273">
                                                <g id="gmail-01" transform="translate(0 -63.953)">
                                                    <path id="Path_868365" data-name="Path 863185"
                                                        d="M1.479,169.418H4.93v-8.381l-2.26-3.946L0,157.339v10.6a1.479,1.479,0,0,0,1.479,1.479Z"
                                                        transform="translate(0 -89.192)" fill="#0085f7" />
                                                    <path id="Path_863286" data-name="Path 8683106"
                                                        d="M395.636,169.418h3.451a1.479,1.479,0,0,0,1.479-1.479v-10.6l-2.666-.248-2.264,3.946v8.381Z"
                                                        transform="translate(-378.874 -89.192)" fill="#00a94b" />
                                                    <path id="Path_8322687" data-name="Path 831687"
                                                        d="M349.816,65.436,347.789,69.3l2.027,2.541,4.93-3.7V66.176A2.219,2.219,0,0,0,351.2,64.4Z"
                                                        transform="translate(-333.054)" fill="#ffbc00" />
                                                    <path id="Path_863088" data-name="Path 868038"
                                                        d="M72.7,105.365l-1.932-4.08L72.7,98.956l5.916,4.437,5.916-4.437v6.409L78.619,109.8Z"
                                                        transform="translate(-67.773 -33.52)" fill="#ff4131"
                                                        fill-rule="evenodd" />
                                                    <path id="Path_8682519" data-name="Path 868921"
                                                        d="M0,66.176v1.972l4.93,3.7V65.436L3.55,64.4A2.219,2.219,0,0,0,0,66.176Z"
                                                        transform="translate(0)" fill="#e51c19" />
                                                </g>
                                            </svg>
                                            <a href="#">Google</a>
                                        </div>
                                    </div> -->
                                </div>
                                <div *ngIf="otp_visible" class="signup-form-wrapper" [formGroup]="registerForm"
                                    style="padding-top: 25px;">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-12 text-center">
                                            <div class="row">
                                                <div class="col-sm-12 mt-5 bgWhite">
                                                    <div class="title">
                                                        Verify OTP
                                                    </div>
                                                    <p>
                                                        Enter the OTP sent to your Mobile Number or The EMail Id that you are trying to Register.
                                                    </p>
                                                    <div class="my-5">
                                                        <ng-otp-input [formCtrl]="otp"
                                                            [config]="{length:4}"></ng-otp-input>
                                                    </div>
                                                    <hr class="mt-4">
                                                    <button (click)="verifyOtp()" [disabled]="otp?.value?.length != 4"
                                                        class='btn w-100 btn-primary btn-block mt-4 mb-4 customBtn'>Verify</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="lg:col-span-1"></div>
            </div>
        </div>
    </div>
</div>

<app-footerone></app-footerone>