.logo {
  width: 3.5rem !important;
  height: 3.5rem !important;
  background: #2d2f31;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 1rem;
  margin-right: 1.6rem;
}

p {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 1rem;
  max-width: 118.4rem;
}

.rating{
    align-items: center;
    flex-wrap: wrap;
    margin-top: .4rem;
    gap: .4rem;
}