<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
    id="layout-navbar" style="z-index: 0;">
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <!-- <img src="assets/img/govt.png" width="30"/> &nbsp; &nbsp;<b>L&D Admin</b> -->
                <b>Admin</b>
            </div>
        </div>
    </div>
</nav>

