<div class="password-toggle">
    <input class="w-100" placeholder="Password" 
           [type]="hide ? 'password' : 'text'" 
           *ngIf="formControl; else ngModelInput" 
           [formControl]="formControl" 
           (input)="onInputChange($event)" 
           #passwordInput
           (keyup.enter)="submitOnEnter()">
    <ng-template #ngModelInput>
        <input class="w-100" placeholder="Password" 
               [type]="hide ? 'password' : 'text'" 
               [(ngModel)]="ngModelValue" 
               (input)="onInputChange($event)" 
               #passwordInput
               (keyup.enter)="submitOnEnter()">
    </ng-template>

    <button class="flex-shrink-1" (click)="toggleVisibility()">
        {{ hide ? 'Show' : 'Hide' }}
    </button>
</div>
